@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,400&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*#######################utility class###########*/
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    cursor:pointer;
    padding: 1em 2.5em;
    margin-top: 1em;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    background: #16a083;
}
/*###############navbar style##############*/
/*For desktop mode*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
} 
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 99;
}
.navbar-container{
    display: flex;
    height: 64px;
    justify-content: space-around;
    align-items: center;
}
.menue-items{
    order: 2;
    display: flex;
}
.menue-items li{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}
.logo{
    order: 1;
    font-size: 3rem;
}
.navbar a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
}

/*#################Showcase styling##################*/
.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)),url("./img/header-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
.main-tittle{
    text-transform: uppercase;
}

/*####################About styling##################*/
#About{
    padding: 50px 0;
    background-color: #f5f5f7;
}
.about-wraper{
    display: flex;
    flex-wrap: wrap;
    
}
#About h2{
    font-size: 3.2rem;
}
#About p{
    font-size: 1.6rem;
    color: #555;
}
#About .small{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}
.about-img{
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: left-move 1s ease-in-out forwards ;
}
@keyframes left-move{
    100%{
        transform: translateX(0%);
    }
}
.about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: right-move 1s ease-in-out forwards ;
}
@keyframes right-move{
    100%{
        transform: translateX(0%);
    }
}
.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
/*######################Template category styling###############*/
#Template{
    padding: 3rem 0 10rem 0;
}
#Template h2{
    text-align: center;
    font-weight: 400;
    color: #555;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.Template-container{
    display: flex;
    justify-content: space-between;
    
}
.Template-container img{
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
}
.img-container h3{
    font-size: 3rem;
    color: #fff;
}
.img-container a{
    font-size: 1.2rem;
}
.img-content{
    height: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50% ,-25%);
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out ;
    
} 
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container::after{
    content: "hello";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0%;
    left:0%;
    background-color: rgba(0,0,0,0.871);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease-in-out;
}
.btn:hover{
    background: #232323;
    box-shadow: 0 0 0 black;   
}

/*######################Template menu styling#################*/
#Template-Menu{
    padding: 3rem 0 10rem 0;
}
.Template-menu-heading{
    text-align: center;
    font-weight: 400;
    color: #555;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.Template-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}
.Template-items{
    display: flex;
    flex: 1 1 600px;
    margin-bottom: 3rem;
    justify-content: space-evenly;
}
.Template-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.Template-description{
    margin: auto 1.5rem;
}
.Template-tittle{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}
.Template-description p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
}
.Template-description .Template-price{
    font-size: 1.6rem;
    font-weight: 700;
    color: #117964;
}
/*#####################Resume styling################*/
.Resume-tittle{
    font-size: 3.2rem;
    text-align: center;
    color: #555;
    font-weight: 400;
    margin: 4rem 0;
}
#Resume{
    background-color: rgba(242, 243, 243, 0.515);
}
.Resume-container{
    display: flex;
}
.Resume-box{
    display: flex;
    flex-direction: column;
}
.Resume-text{
    text-align: center;
    font-size: 1.6rem;
    color: #444;
    font-weight: 500;
    margin: 2rem 0;
    padding: 0 5px;
}
.star-rating{
    color: rgb(255, 220, 20);
    margin: auto;
    font-size: 2rem;
}
.customer-photo img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}
.customer-name{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 3rem;
}

/*#######################contact us styling################*/
#contact{
    padding: 5rem 0;
    background-color: rgb(226,226, 226);
}
.contact-container{
    display: flex;
    background-color: #fff;
}
.contact-container{
   width: 50%;
}
.contact-img img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.form-container{
    padding: 1rem 1rem;
    width: 100%;
    margin: auto;
}
.form-container input,
.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    padding: 0.5rem 0;
    margin: 1rem 0;
    outline: none;  
    color: #444;
    font-weight: 400;
}
.contact-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #666;
    margin-top: 1rem;
}
.contact-container a{
    font-size: 1.2rem;
}

/*#################footer styling#############*/

#footer h2{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 2rem; 
    background-color: rgb(65,65,65);
    color: #fff;
}

/*###################media queries#############*/
@media (max-width:768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        width: 40px;
        height: 32px;
        z-index: 15;
        top: 20px; 
        left: 10px; 
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: flex;
        position: absolute;
        width: 40px;
        height: 32px;
        z-index: 5; 
        top: 20px;
        left: 10px;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        background-color: #333;
        height: 4px;
        width: 100%;
        border-radius: 10px;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .menue-items{
        padding-top: 100px;
        background-color: #000;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;
    }
    .navbar a{
        color: #fff;
    }
    .navbar .menue-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .navbar-container input[type='checkbox']:checked ~ .menue-items{
        transform: translateX(0);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    /*###########Template category###########*/
    .Template-container{
        flex-direction: column;
        align-items: stretch;
    }
    .Template-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .Template-type{
        box-shadow: 10px 0 10px #aaa;
    }
    .img-container{
        margin: 0;
    }
}
/*###########for small screen#########*/
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .Resume-container{
        flex-direction: column;
        text-align: center;
    }
    .Template-items{
        flex-direction: column;
        text-align: center;
    }
    .Template-menu-container img{
        margin: auto;
        flex-direction: column;
    }
    .form-container{
        width: 90%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-img{
        width: 90%;
        margin:3rem auto;
    }
}
/*###########landscape mode##########*/
@media (orientation:landscape) and (max-height:500px){
    .showcase-area{
        height: 50vmax;
    }
}